 <table class="table table-striped table-bordered table-condensed"> 
  <tr>
    <td class="hidden">#</td>
   <td>zone name</td>
<td>serial</td>
<!-- <td>creation date</td> -->
<!-- <td>update date</td> -->
<td>ttl</td>
<td>active</td>
<td>action</td>
 <% @zone.each do |record| %>       	         
  <tr>
   <td class="hidden"><%= record['id'] %></td>
   <td><a href="/zona/<%= record['name'] %>/edit"><%= record['name'] %></></td>
   <td><%= record['serial'] %></td>
   <!-- <td><%= record['created_at'] %></td> -->
   <!-- <td><%= record['updated_at'] %></td> -->
   <td><%= record['ttl'] %></td>
   <td><%= record['active'] %></td>
    <td>
        <a class="btn btn-small" href="/zona/<%= record['name'] %>/edit"><i class="icon-cog"></i> Edit</a>
        <a class="btn btn-danger" href="/zona/delete/<%= record['id'] %>"><i class="icon-trash icon-white"></i> Del</a>
   </td> 
 </tr>
  <% end %>
</table>
